<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Lista</title>
<div th:replace="fragment/headerinc ::head"></div>

</head>
<body>
<div th:replace="fragment/header :: header"></div>
<h1>	Dodawanie książek </h1>
	<form th:action="@{/book/addBook}" method="post" th:object="${books}">
	<p>
		<label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> </label><br/>
			<input type="text" placeholder="Podaj tytuł książki" th:field="*{title}" />
		</p>
		<p>
		<label th:if="${#fields.hasErrors('author')}" th:errors="*{author}"> </label><br/>
			<input type="text" placeholder="Podaj autora książki"
				th:field="*{author}" />
		</p>
		<p>
		<ul>
			<li th:each="gatunek : ${allGatunek}"><input type="checkbox"
				th:field="*{gatunek}" th:value="${gatunek.id}" /> <label
				th:for="${#ids.prev('gatunek')}"
				th:text="${gatunek.gatunek}">Gatunek</label></li>
		</ul>
		</p>
		
		
		<p>
			<button type="submit" >Dodaj książkę</button>
		</p>
	</form>
	
	<span th:utext="${successMessage}"></span>

	
	
	
</body>
</html>
