<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Lista</title>
<div th:replace="fragment/headerinc ::head"></div>

</head>
<body>
	<header>
		<div th:replace="fragment/header :: header"></div>
	</header>
	<div th:if="${not #lists.isEmpty(przeczytane)}">
		<div class="container">
			<h1>Lista książek przeczytanych</h1>
			<table class="table table-striped">
				<tr>
					<th>LP</th>
					<th>Tytuł</th>
					<th>Autor</th>
					<th>Opis</th>
					<th>Data przeczytania</th>
					<th th:if="${isLogin}">Widok</th>
					<th th:if="${isLogin}">Edit</th>
				</tr>

				<tr th:each="przecz,s : ${przeczytane}">
				 	<td th:text="${s.count}"></td>
					<td th:text="${przecz.book.title}"></td>
					<td th:text="${przecz.book.author}"></td>

					<td th:text="${przecz.opis}"></td>
					<td th:text="${przecz.data}"></td>
					<td><a th:href="${'/book/' + przecz.book.id}">Widok </a></td>
					<td th:if="${isLogin}"><a th:href="${'/przeczytane/edit/' + przecz.id}">Edycja</a></td>

				</tr>
			</table>
		</div>
		<div th:if="${ #lists.isEmpty(przeczytane)}">Nie przeczytałeś żadnych książek</div>
		<!-- Pagination Bar 
		<div th:fragment='paginationbar'>
			<div>
				<ul class='pagination pagination-centered'>
					<li th:class="${page.firstPage}?'disabled':''"><span
						th:if='${page.firstPage}'>← First</span> <a
						th:if='${not page.firstPage}'
						th:href='@{${page.url}(page=0,size=${page.size})}'>← First</a></li>
					<li th:class="${page.hasPreviousPage}? '' : 'disabled'"><span
						th:if='${not page.hasPreviousPage}'>«</span> <a
						th:if='${page.hasPreviousPage}'
						th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
						title='Go to previous page'>«</a></li>
					<li th:each='item : ${page.items}'
						th:class="${item.current}? 'active' : ''"><span
						th:if='${item.current}' th:text='${item.number}'>1</span> <a
						th:if='${not item.current}'
						th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
							th:text='${item.number}'>1</span></a></li>
					<li th:class="${page.hasNextPage}? '' : 'disabled'"><span
						th:if='${not page.hasNextPage}'>»</span> <a
						th:if='${page.hasNextPage}'
						th:href='@{${page.url}(page=${page.number},size=${page.size})}'
						title='Go to next page'>»</a></li>
					<li th:class="${page.lastPage}? 'disabled' : ''"><span
						th:if='${page.lastPage}'>Last →</span> <a
						th:if='${not page.lastPage}'
						th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last
							→</a></li>
				</ul>
			</div>
		</div> -->

	</div>
	<footer>
		<div th:replace="fragment/footer :: footer"></div>
	</footer>
</body>
</html>
