<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Lista</title>

</head>
<body>
	<h1>HOME</h1>
	<a href="/login"> Login</a>
	<br />
	<a href="/rejestracja"> Registration</a>
	<br />
	<a href="/books"> Lista Książek</a>
	<br />
	<div th:if="${isAdmin}">
	<a href="/admin/config"> Configuration</a>
	</div>
	<br />
	<div th:if="${isLogin}">
		<p th:text="${userLogin}" />
		<br />
		<form th:action="@{/logout}" method="post">

			<input type="submit" value="Logout" />

	</form>
		</div>
</body>
</html>
