<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Lista</title>
</head>
<body>
	Lista książek
	<table class=books>
		<tr>
			<th>ID</th>
			<th>Tytuł</th>
			<th>Autor</th>
			<th>Wydawnictwo</th>
			<th>ISBN</th>
			<th>Cena</th>
			<th>Stan</th>
			<th>Skąd</th>
			<th>Lokalizacja</th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.id}"></td>
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.wyd}"></td>
			<td th:text="${book.ISBN}"></td>
			<td th:text="${book.price}"></td>
			<td th:text="${book.stan}"></td>
			<td th:text="${book.sklep}"></td>
			<td th:text="${book.lokalizacja}"></td>
		</tr>
	</table>
</body>
</html>
