<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Login</title>
<div th:replace="fragment/headerinc ::head"></div>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<p> Strona logowania do domowej biblioteki </p>

	<form th:action="@{login}" method="post">
	
<div th:if="${param.error}">
Błędny login lub hasło, spróbuj ponownie.
</div>	
		<input type="text" id="login" name="login" placeholder="login" /> 
		<input type="password" id="pass" name="pass" placeholder = "hasło" /> 
		<input type="submit" value="zaloguj"/>
		
	</form>

</body>
</html>